*{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addBookButton{
    width: 100px;
    
}

#box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid;
}

#titel{

}

#author{

}

#info{

}